# Hypothesis Testing Exercises

 ## Overview Exercises
 ***For each of the following questions, formulate a null and alternative hypothesis (be as specific as you can be), then give an example of what a true positive, true negative, type I and type II errors would look like. Note that some of the questions are intentionally phrased in a vague way. It is your job to reword these as more precise questions that could be tested.***

- **1. Has the network latency gone up since we switched internet service providers?**

- H<sub>o</sub> : There is no difference on network latency since switching ISPs
- H<sub>*a*</sub> : Switching ISPs has increased network latency


- True Positive: Switching ISPs **has** affected latency and we **rejected** H<sub>o</sub> in testing
- True Negative: Switching ISPs **has not** affected latency and we **accepted** H<sub>o</sub> in testing
- Type I Error:  Switching ISPs **has not** affected latency but we **rejected** H<sub>o</sub> in testing
- Type II Error: Switching ISPs **has** affecetd latency but we **accepted** H<sub>o</sub> in testing

- **2. Is the website redesign any good?**

- H<sub>o</sub> : The website redesign has had no impact on the average time users spend on the website
- H<sub>*a*</sub> : The website redesign has increased the average time users spend on the website


- True Positive: Redesign **has** increased avg user time and we **rejected** H<sub>o</sub> in testing
- True Negative: Redesign **has not** increased avg user time and we **accepted** H<sub>o</sub> in testing
- Type I Error:  Redesign **has not** increased avg user time but we **rejected** H<sub>o</sub> in testing
- Type II Error: Redesign **has** increased avg user time but we **accepted** H<sub>o</sub> in testing

- **3. Is our television ad driving more sales?**

- H<sub>o</sub> : Sales have not increased after airing our TV ad
- H<sub>*a*</sub> : Sales have increased since airing our TV ad 


- True Positive: Sales **have** increased and we **rejected** H<sub>o</sub> in testing
- True Negative: Sales  **have not** increased and we **accepted** H<sub>o</sub> in testing
- Type I Error:  Sales **have not** increased but we **rejected** H<sub>o</sub> in testing
- Type II Error: Sales **have** increased but we **accepted** H<sub>o</sub> in testing

## T-test Exercises

In [ ]:
from math import sqrt
from scipy import stats
from scipy.stats import ttest_ind_from_stats

%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

### Ace Realty wants to determine whether the average time it takes to sell homes is different for its two offices. A sample of 40 sales from office #1 revealed a mean of 90 days and a standard deviation of 15 days. A sample of 50 sales from office #2 revealed a mean of 100 days and a standard deviation of 20 days. Use a .05 level of significance.

In [ ]:
#List the data we have 

#Avg time it takes each office to sell homes
office_1_mean = 90
office_2_mean = 100

#Stdev for the avg time it takes to sell homes 
office_1_sd = 15
office_2_sd = 20

In [ ]:
#Setup the test and set the confidence level
null_hypothesis = "There is no difference in average time for selling homes between the two Ace Realty offices"
alt_hypothesis = "There is a difference in avg time for selling homes"
confidence_level = .95
a = 1 - confidence_level

In [ ]:
#Use scipy to conduct the t-test
t, p = stats.ttest_ind_from_stats(office_1_mean, office_1_sd, 40, office_2_mean, office_2_sd, 50)
t, p

In [ ]:
if p > a:
    print(f"{null_hypothesis}")
else:
    print(f"Reject the null hypothesis. {alt_hypothesis}.")

### Load the mpg dataset and use it to answer the following questions:

In [ ]:
from pydataset import data
mpg = data("mpg")
mpg.head()

- **Is there a difference in fuel-efficiency in cars from 2008 vs 1999?**

In [ ]:
#Prepare the data:

#Step 1: Calculate the avg mpg
mpg['avg_mpg'] = (mpg.cty + mpg.hwy) / 2
mpg.head()

#Note from demo: In the future, when dealing with rates(ratios) like mpg, I may want to use harmonic mean instead of arithmatic mean

In [ ]:
#Step 2: Classify vehicles by the years 2008 and 1999
cars_from_99 = mpg[mpg.year == 1999]
cars_from_08 = mpg[mpg.year == 2008]

In [ ]:
#Setup the test and set the confidence level
null_hypothesis = "There is no difference in fuel-efficiency in cars from 2008 vs 1999"
alt_hypothesis = "There is a difference in fuel-efficiency in cars from 2008 vs 1999"

confidence_level = .95
a = 1 - confidence_level

In [ ]:
#Use ttest_ind for a two sample t-test
t, p = stats.ttest_ind(cars_from_99.avg_mpg,cars_from_08.avg_mpg)
t, p

In [ ]:
#Use a two-tailed test
if p < a: 
    print("Reject the null hypothesis that there is no difference in fuel-efficiency")
    print("Move forward with the understanding that there is a difference in efficiency between cars from 1999 and 2008")
else:
    print("Fail to reject the null hypothesis.")
    print("Not enough evidence to support a difference in fuel-efficiency.")

- **Are compact cars more fuel-efficient than the average car?**

In [ ]:
#Rename the class column because class is a reserved word in python
mpg = mpg.rename(columns={'class': 'class_of_car'})

In [ ]:
#Separate the compact car data sets to compare against the population
compact_cars = mpg[mpg.class_of_car == "compact"]

In [ ]:
#Setup the test and set the confidence level
null_hypothesis = "There is no difference in fuel-efficiency for compact vs average cars"
alt_hypothesis = "Compact cars are more efficient than the average car"
confidence_level = .95
a = 1 - confidence_level

In [ ]:
#use ttest_ind for a one-sample t-test
t, p = stats.ttest_1samp(compact_cars.avg_mpg, mpg.avg_mpg.mean())
t,p

In [ ]:
#Set a one-tailed test 
if p/2 < a and t > 0:
    print("Reject the null hypothesis that states there is no difference in fuel-efficiency")
    print("Move forward with the understanding that compact cars are more efficient than the average car.")
else:
    print(f'Fail to reject the null hypothesis. There is not enough eveidence to support the claim: {alt_hypothesis}')

- **Do manual cars get better gas mileage than automatic cars?**

In [ ]:
#Prepare the data by grouping manual and automatic cars
def trans_type(x):
    if "auto" in x:
        return "auto"
    else:
        return "manual"

In [ ]:
#Assign the cars one of two variables where auto == automatic transmission and manual == manual transmission
mpg['trans_type'] = mpg.trans.apply(trans_type)

In [ ]:
#Separate the two data sets for comparison
auto_cars = mpg[mpg.trans_type == 'auto']
manual_cars = mpg[mpg.trans_type == 'manual']

In [ ]:
#Setup the test and select a confidence level 
null_hypothesis = "There is no difference in gas mileage for automatic vs manual cars"
alt_hypothesis = "Manual cars get better gas mileage than automatic cars"
confidence_level = .95
a = 1 - confidence_level

In [ ]:
#Use ttest_ind for the two sample t-test
t, p = stats.ttest_ind(manual_cars.avg_mpg, auto_cars.avg_mpg)
t, p

In [ ]:
#Since we are testing against whether or not manual cars get better gas mileage, I will use a one-tailed test:
if p/2 < a and  t > 0:
    print("Reject the null hypothesis that states there is no difference in gas mileage for automatic vs. manual cars")
    print("Move forward with the understanding that manual cars get better gas mileage than automatic cars.")
else:
    print("Fail to reject the null hypothesis.")
    print(f"There is not enough evidence to support the claim: {alt_hypothesis}")

## Correlation Exercises

**1. Use the telco_churn data.**

In [ ]:
df = pd.read_csv('Cust_Churn_Telco.csv')
df.info()

- **a.  Does tenure correlate with monthly charges?**

In [ ]:
#Set the confidence interval for the correlation test
null_hypothesis = 'There is no correlation between tenure and monthly charges'
alt_hypothesis = 'There is a correlation between tenure and monthly charges'
confidence_int = .95
a = 1 - confidence_int

In [ ]:
#visualize the data
sns.scatterplot(x='tenure', y='MonthlyCharges', data=df)

In [ ]:
#Setup the correlation test
corr, p = stats.pearsonr(df.tenure, df.MonthlyCharges)
corr, p

In [ ]:
if p < a:
    print("Reject the null hypothesis")
    print("Move forward with the understanding there is a correlation between monthly charges and tenure")
else:
    print("Fail to reject the null hypothesis.")
    print("N")

 - **b. Total charges?**

In [ ]:
#Clean the data to remove nulls
telco_churn = df[df.TotalCharges > 0]
telco_churn.sort_values(by="TotalCharges")

In [ ]:
#Set the confidence interval for the correlation test
null_hypothesis = 'There is no correlation between tenure and total charges'
alt_hypothesis = 'There is a correlation between tenure and total charges'
confidence_int = .95
a = 1 - confidence_int

In [ ]:
#visualize the data
sns.scatterplot(x='tenure', y='TotalCharges', data=telco_churn)

In [ ]:
corr, p = stats.pearsonr(telco_churn.tenure, telco_churn.TotalCharges)
corr, p

In [ ]:
if p < a:
    print("Reject the null hypothesis")
    print("Move forward with the understanding there is a correlation between total charges and tenure")
else:
    print("Fail to reject the null hypothesis.")
    print("N")

 - **c. What happens if you control for phone and internet service?**

In [ ]:
#Setup correlation test and control for phone service only
null_hypothesis = "There is no correlation between tenure and monthly charges for customers with phone service only "
alt_hypothesis = "There is a correlation between tenure and monthly charges for phone service customers"
confidence_int = .95
a = 1 - confidence_int

In [ ]:
r_tenure_phone_only = corr, p = stats.pearsonr(telco_churn.tenure[(telco_churn.PhoneService == "Yes") & (telco_churn.InternetService == "No")], telco_churn.MonthlyCharges[(telco_churn.PhoneService == "Yes") & (telco_churn.InternetService == "No")])
r_tenure_phone_only

In [ ]:
if p < a:
    print("Reject the null hypothesis")
    print("Move forward with the understanding there is a correlation between monthly charges and tenure for phone service customers")
else:
    print("Fail to reject the null hypothesis.")
    print("N")

In [ ]:
#Setup correlation test and control for internet service only
null_hypothesis = "There is no correlation between tenure and monthly charges for customers with internet service only "
alt_hypothesis = "There is a correlation between tenure and monthly charges for internet service customers"
confidence_int = .95
a = 1 - confidence_int

In [ ]:
r_tenure_internet_only = corr, p = stats.pearsonr(telco_churn.tenure[(telco_churn.PhoneService == "No") & (telco_churn.InternetService != "No")], telco_churn.MonthlyCharges[(telco_churn.PhoneService == "No") & (telco_churn.InternetService != "No")])
r_tenure_internet_only

In [ ]:
if p < a:
    print("Reject the null hypothesis")
    print("Move forward with the understanding there is a correlation between monthly charges and tenure for phone service customers")
else:
    print("Fail to reject the null hypothesis.")
    print("N")

### The solution below was shared as a more advanced solution during the exercise demo. I am including the code here to refer back to in the future as an example of a way to use nested dictionaries and loops to control for multiple variables in a more programmtic way:

In [ ]:
telco_churn['InternetService'] = 'Internet Service: ' + telco_churn['InternetService']
telco_churn['PhoneService'] = 'Phone Service: ' + telco_churn['PhoneService']
telco_churn['Internet_and_Phone'] = telco_churn['InternetService'] + telco_churn['PhoneService']

In [ ]:
telco_churn['Internet_and_Phone'].value_counts()

In [ ]:
x = {}
y = {}
control = ['InternetService', 'PhoneService', 'Internet_and_Phone']
for cntrl in control:
    for val in telco_churn[cntrl].unique():
        x[val] = {}
        y[val] = {}
        x[val]['tenure'] = telco_churn['tenure'][telco_churn[cntrl]== val]
        y[val]['TotalCharges'] = telco_churn['TotalCharges'][telco_churn[cntrl]== val]
        y[val]['MonthlyCharges'] = telco_churn['MonthlyCharges'][telco_churn[cntrl]== val]

In [ ]:
x['Internet Service: DSL'].keys()

In [ ]:
for key in y:
    print('For customers with {key}: ')
    for subkey in y[key]:
        print(f'For an x of tenure and a y of {subkey}: ')
        r, p = stats.pearsonr(x[key]['tenure'], y[key][subkey])
        print(f'Pearson Correlation is calculated at {r} with a p value of {p}')
        if p < 0.05:
            print(f' p is less than our alpha and we can reject the null hypothesis')
        plt.title(f'For an x of tenure and a y of {subkey} under the control of {key}, r={r:.3f}')
        plt.scatter(x[key]['tenure'], y[key][subkey])
        plt.show()
        plt.clf()
        print('------------------------------------')
        print('------------------------------------')
        print('------------------------------------')

### Use the employees database.

In [ ]:
from env import host, user, password

def get_db_url(db, user=user, host=host, password=password):
    return f'mysql+pymysql://{user}:{password}@{host}/employees'

- **Is there a relationship between how long an employee has been with the company and their salary?**

Need to prepare data by: 
- Group data by emp_no so each employee only appears once
    - This is a good example of where I would need to get clarification in the planning stage of the DS pipeline by asking the following questions:
        - Do we want analysis to be inclusive of an employees past titles and salaries? 
        - How does including an employees previous titles (and presumably lower salaries) affect the data analysis? 
        - On the flipside: if we do not account for this individual change of salary and title over time, how does that affect the analysis? 
        - Is an employee who has had the same title for 10 years comparable to an employee who has seen x number of raises and title changes over the same 10 yeat period?
        
- Calculate employee tenure
    - Need to deal with to_dates for current employees

In [ ]:
sql = """
select *, datediff(CURDATE(), hire_date) as 'tenure'
from employees as emp
JOIN salaries using (emp_no)
JOIN titles using (emp_no) 
WHERE salaries.to_date >= CURDATE()
"""

employees = pd.read_sql(sql, get_db_url('employees'))
employees.head()

In [ ]:
employees.info()

In [ ]:
#Prepare data: drop salary.to_date column
employees = employees.drop(columns={employees.columns[8]})
employees.head()

In [ ]:
#Set up correlation test:
null_hypothesis = "There is no correlation between tenure and salary"
alt_hypothesis = "Salary and tenure are correlated"
confidence_int = .95
a = 1 - confidence_level

In [ ]:
corr, p = stats.pearsonr(employees.tenure, employees.salary)
corr, p

In [ ]:
if p < a:
    print("Reject the null hypothesis")
    print("Move forward with the understanding there is a correlation between salary and tenure")
else:
    print("Fail to reject the null hypothesis.")

- **Is there a relationship between how long an employee has been with the company and the number of titles they have had?**

In [148]:
employees.head()

,emp_no,birth_date,first_name,last_name,gender,hire_date,salary,from_date,title,from_date,tenure
0,10001,1953-09-02,Georgi,Facello,M,1986-06-26,88958,2002-06-22,Senior Engineer,1986-06-26,12652
1,10002,1964-06-02,Bezalel,Simmel,F,1985-11-21,72527,2001-08-02,Staff,1996-08-03,12869
2,10003,1959-12-03,Parto,Bamford,M,1986-08-28,43311,2001-12-01,Senior Engineer,1995-12-03,12589
3,10004,1954-05-01,Chirstian,Koblick,M,1986-12-01,74057,2001-11-27,Engineer,1986-12-01,12494
4,10004,1954-05-01,Chirstian,Koblick,M,1986-12-01,74057,2001-11-27,Senior Engineer,1995-12-01,12494

In [149]:
employees = employees.drop(columns={'birth_date', 'from_date'})

In [177]:
employees= employees.drop(columns={'title_count'})

In [178]:
countref = employees.groupby('emp_no').count()[['title']].rename(columns={'title': 'titlecount'})

In [179]:
employees.head()

,emp_no,first_name,last_name,gender,hire_date,salary,title,tenure
0,10001,Georgi,Facello,M,1986-06-26,88958,Senior Engineer,12652
1,10002,Bezalel,Simmel,F,1985-11-21,72527,Staff,12869
2,10003,Parto,Bamford,M,1986-08-28,43311,Senior Engineer,12589
3,10004,Chirstian,Koblick,M,1986-12-01,74057,Engineer,12494
4,10004,Chirstian,Koblick,M,1986-12-01,74057,Senior Engineer,12494

In [183]:
merged = pd.merge(employees, countref, how='left', on='emp_no')

### Use the sleepstudy data. Is there a relationship between days and reaction time?

## Chi Square Exercises

### 1. Use the following contingency table to help answer the question of whether using a macbook and being a codeup student are independent of each other.

In [ ]:
contingency = pd.DataFrame({'codeup_student': [49,1], 'not_codeup': [20,30]}, index=['uses_macbook', 'no_macbook'])
contingency

In [ ]:
null_hypothesis = "Being a codeup student is not dependent upon using a mac"
alt_hypothesis = "Being a codeup student is dependent upon using a mac"
confidence_interval = .95
a = 1 - confidence_interval

In [ ]:
chi2, p, degf, expected = stats.chi2_contingency(contingency)
chi2, p, degf, expected

In [ ]:
if p < a:
    print("We reject the null")
else:
    print("We fail to reject the null")

### 2. Choose another 2 categorical variables from the mpg dataset and perform a Chi Square contingency table test with them. Be sure to state your null and alternative hypotheses.

In [ ]:
null_hypothesis = "City fuel-efficiency is not dependent upon the number of cylinders"
alt_hypothesis = "City fuel-efficiency is dependent upon the number of cylinders"
confidence_level = .95
a = 1 - confidence_level

In [ ]:
observed = pd.crosstab(mpg.cyl, mpg.cty)
observed

In [ ]:
chi2, p, degf, expected = stats.chi2_contingency(observed)

In [ ]:
chi2, p, degf, expected

In [ ]:
if p < a:
    print("We reject the null")
else:
    print("We fail to reject the null")

### 3. Use the data from the employees database to answer these questions:

In [ ]:
sql = """
select *
from employees
JOIN dept_emp using (emp_no)
JOIN departments using (dept_no)
WHERE to_date > CURDATE()
"""

employees = pd.read_sql(sql, get_db_url('employees'))
employees.head()

- **Is an employee's gender independent of whether an employee works in sales or marketing? (only look at current employees)**

In [ ]:
employees["sales_and_marketing"] = employees['dept_name'] == ("Sales" or "Marketing")

In [ ]:
null_hypothesis = "Working in Sales or Marketing is not dependent on gender"
alt_hypothesis = "Working in Sales or Marketing is dependent on gender"
confidence_level = .95
a = 1 - confidence_level

In [ ]:
observed = pd.crosstab(employees.gender, employees.sales_and_marketing)
observed

In [ ]:
chi2, p, degf, expected = stats.chi2_contingency(observed)

if p < a:
    print("We reject the null hypothesis")
else:
    print("We fail to reject the null")
p

- **Is an employee's gender independent of whether or not they are or have been a manager?**

In [ ]:
sql = """
select employees.emp_no, employees.gender
from employees
LEFT JOIN dept_manager ON employees.emp_no = dept_manager.emp_no

"""

managers = pd.read_sql(sql, get_db_url('employees'))
managers

In [ ]:
managers['is_manager'] =

In [ ]:
observed = pd.crosstab(managers.gender, employees.sales_and_marketing)
observed